.App {
  text-align: center;
  display: flex;
  justify-content: space-around;
  border: 1px solid rgba(0, 0, 0, 0.3);
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.ReportItem > div:first-child {
  width: 54px;
  height: 54px;
  background-color: #f7b924;
  border-radius: 50%;
}

.ReportItem {
  display: flex;
  align-items: center;
  margin-right: 10rem;
}

.content-report > h4 {
  font-family: Roboto;
  font-weight: 300;
  font-size: 12px;
}

.content-report > h1 {
  font-family: Roboto;
  font-weight: 500;
  font-size: 40px;
}

.content-report > p {
  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
  font-size: 12px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
